* {
  padding: 0;
  margin: 0;
}

body {
  font-family:
    pingfang sc,
    helvetica,
    arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.ElNotification {
  width: 450px !important;
}
